export GITHUB_TOKEN=secret
export GITHUB_ORGANIZATION=myorg
export TRELLO_APP_KEY=secret
export TRELLO_TOKEN=secret
export OPSGENIE_APIKEY=secret
export OPSGENIE_SCHEDULE=myorg_oncall_schedule
export STACKOVERFLOW_KEY=secret
export STACKOVERFLOW_TAG=myorg
export STACKOVERFLOW_BASE_URL=https://api.stackexchange.com